@page "/async"
@using TabBlazor.FluentValidation.Server.Validation

<Card>
    <CardHeader>
        <h3>TabBlazor.FluentValidation - Async Form</h3>
    </CardHeader>
    <CardBody>
        <TablerForm Model="@Model" @ref="TheForm">

            <div class="mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="Model.Name"></InputText>
                <ValidationMessage For="(() => Model.Name)"></ValidationMessage>
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <InputText class="form-control" @bind-Value="Model.Directory"></InputText>
                <ValidationMessage For="(() => Model.Directory)"></ValidationMessage>
            </div>

            <Button Type="ButtonType.Button" Text="Save" class="mt-1" OnClick="Save"></Button>
        </TablerForm>
    </CardBody>
</Card>